#!/usr/bin/env xdg-open

[Desktop Entry]
Version=0.9.1
Encoding=UTF-8
Type=Application
Exec=/home/$USER/.local/bin/tasmotasbacker/tasmotasbacker
Icon=/home/$USER/.local/bin/tasmotasbacker/tasmotasbacker.png
Name=Tasmotas Backer
Name[fr_CA]=Sauvegarde des Tasmotas
Categories=Network;
Terminal=false
Comment=Backup multiple Tasmota device configurations
Comment[fr_CA]=Sauvegarder la configurations de multiples périphériques Tasmota

